name: Deploy Frontend

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Upload static site
        uses: actions/upload-pages-artifact@v3
        with:
          path: WebSite   # ← ここが重要！

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
